@import './base.css';
@import 'primeicons/primeicons.css';

html{
  min-height: 100%;
  background-color: rgba(200, 200, 200, 0.795);
}
 body {
   height: 100%;
   background-color: rgba(200, 200, 200, 0.795);
 }
#app {
  margin: 0 ;
  height: 100%;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}



