@import './base.css';

#app {
  margin: 0;
  height: inherit;
  font-weight: normal;
}

nav {
  height: 100%;
  display: flex;
  background-color: var(--vt-c-divider-dark-1);
  justify-content: space-between;
  font-size: 26px;
  text-align: left;
}

nav a.router-link-exact-active {
  color: rgb(255, 255, 255);
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
}

nav a {
  display: inline-block;
  padding: 0 1rem;
  border-left: 1px solid var(--color-border);
}

nav a:first-of-type {
  border: 0;
}
a,
.green {
  text-decoration: none;
  color: rgb(83, 152, 95);
  transition: 0.4s;
}

